<%- include("partials/header.ejs") %>

<div class="left">
  <img src="\images\linus-mimietz-O3ISKgWmzPo-unsplash.jpg" alt="Photo by Linus Mimietz on Unsplash">
</div>
<div class="hero-section">
  <% if(locals.featured_title){ %>
    <%- featured_image %>
    <h2>Featured</h2>
    <h3><%= featured_title %></h3>
    <p><%= featured_desc %></p>
    <a href="/recipe">Cook Now</a>
  <% } else { %>
    <h2>UG23</h2>
    <img class="logo" src="/images/Logo-Dark.png" alt="logo">
    <h4>Welcome to UG23 Food Blog!
      A blog where you can view, try and share recipes
    </h4>
    
  <% } %>
</div>
<div class="right">
  <img src="\images\marisol-benitez-QvkAQTNj4zk-unsplash.jpg" alt="Photo by Marisol Benitez on Unsplash">
</div>

<%- include("partials/footer.ejs") %>