<%- include("partials/header.ejs") %>
<main class="container">
<div class="left"></div>
<div class="auth-content">
    <form class="auth-form" action="/login" method="POST">
        
        <h2>Login</h2>

        <% if (typeof timeout !== "undefined") { %>
           <p class="msg error">Session expired due to inactivity.</p>
        <% } %>

        <% if(locals.error) { %>
            <div class="msg error">
                 <li><%=error%> </li>
            </div>
        <% } %>

         <% if(locals.message) { %>
            <div class="msg success">
                 <li><%=message%> </li>
            </div>
        <% } %>
        
        <!-- Email -->
        <div class="auth-items">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email" required 
                value="<%= email ? email : '' %>" 
                <%= step === 'otp' ? 'readonly' : '' %> 
            >
        </div>




        <!-- Password -->
         <% if (!step || step === "credentials") { %>
        <div class="auth-items">
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <a href="/forgot-password">Forgot Password</a>
        </div>
        <% } %>

        <!-- OTP -->
         <% if (step === "otp") { %>
            <input type="hidden" name="step" value="otp">
            <div class="auth-items">
                <label for="otp">One-Time Password (OTP)</label>
                <input type="text" name="otp" id="otp" placeholder="Enter OTP" required>
                <button type="submit" class="btn small" name="resend" value="true">Resend OTP</button>
            </div>
            <% } else { %>
                <input type="hidden" name="step" value="credentials">
            <% } %> 

        <!-- Submit Button -->
        <div class="auth-items">
            <button type="submit" name="register-btn" class="btn btn-big">Log In</button>
        </div>

        <p><a class="register" href="/signup">Don't Have an account? Login</a></p>
    </form>
</div>
<div class="right"></div>
</main>
<%- include("partials/footer.ejs") %>