<%- include("partials/header.ejs") %>
<main class="container">
<div class="left"></div>
<form class="auth-content" action="/reset-password/<%=token %>" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h2>Reset Password</h2>
    <% if (error){ %> 
       <div class="msg error">
           <li><%= error %></li>
       </div>
   <% } %>
     <div class="auth-items">
            <label for="password">
                New Password
            </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div id="strength-message"></div>
                <script>
                    const passwordInput = document.getElementById("password");
                    const message = document.getElementById("strength-message");

                    passwordInput.addEventListener("input", () => {
                        const val = passwordInput.value;
                        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
                        let strength = 0;
                        if (val.length >= 8) strength++;
                        if (/[a-z]/.test(val)) strength++;
                        if (/[A-Z]/.test(val)) strength++;
                        if (/\d/.test(val)) strength++;
                        if (/[\W_]/.test(val)) strength++;

                        switch (strength) {
                            case 0:
                            case 1:
                            case 2:
                                message.textContent = "Weak"; 
                                // message.style.color = "red"
                                message.classList.add("msg")
                                message.classList.remove("warning")
                                message.classList.add("error");
                                break;
                            case 3:
                            case 4:
                                message.textContent = "Moderate";
                                // message.style.color = "orange";
                                message.classList.remove("success")
                                message.classList.add("warning");

                                break;
                            case 5:
                                message.textContent = "Strong";
                                // message.style.color = "green";
                                message.classList.add("success")
                                break;
                        }
                    });

                </script>
        </div>
        
        
        <!-- Password Confirmation -->
        <div class="auth-items">
            <label for="confirmPassword">
                Confirm Password
            </label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Password" required>
        </div>


    <div class="auth-items">
        <button class="btn btn-big" type="submit">Reset</button>
    </div>
    
</form>
<div class="right"></div>
</main>
<%- include("partials/footer.ejs") %>
